.login-form-wrap {
    height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.login-form {
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    background-color:rgba(252, 253, 253, 0.4);
    /* border-radius:15px; */
    border: 1px solid white;
    box-shadow: 2px 2px #A20EBF;
}

.form-title {
    text-align:center;
    font-family: Poppins;
    text-transform:uppercase;
    font-size:2.3em;
    margin:10px;
    color:rgb(26, 26, 26);
}

.login-form-inputs-container {
    height:100px;
    width:auto;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-self:center;
    margin:10px;
    margin-bottom:13px;
}

.login-form-inputs {
    height:40px;
    background-color:white;
    width:300px;
    color:#ff00cc;
    padding-left:5px;
    border-radius:5px;
}

.login-form-password-container {
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-form-forgot-password:hover {
    cursor:pointer;
    text-decoration: black underline;
}

.login-form-submit {
    height:40px;
    margin-bottom:20px;
    font-size:1.2em;
    letter-spacing:1px;
    font-family:Poppins;
    font-weight:600;
    text-transform:uppercase;
    width:150px;
    align-self:center;
    text-align:center;
    padding:0;
    background-color: white;
    color:#333399;
}

.login-form-submit:hover {
    color:white;
    cursor:pointer;
    background-color:#333399;
}