.page-4-wrap {
    height:100vh;
    width:100%;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ff00cc, #333399); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Poppins;

}

.page-4-grid {
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:space-between;
}

.footer-columns-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:260px;
    height:100vh;
}

.footer-menu-container {
    display:flex;
    flex-direction:column;
    width:200px;
    margin-top:40px;
}

.footer-title {
    margin: 0;
    height:34px;
    color:white;
    /* opacity:0.8; */
}

.footer-item {
    margin:0;
    height:30px;
    color:white;
    opacity:0.8;
    text-decoration:none;
    padding-left:15px;
    transition:transform ease-in-out 1s;
}

.footer-item:hover {
    opacity:1;
    cursor:pointer;
    margin-left:15px;
}

.footer-info-menu {
    margin-bottom:40px;
}

.grid-boxes {
    text-decoration: none;
}

.footer-mid-column {
    width:auto;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex-grow:2;
}

.footer-mid-inner-container {
    height:90%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
    width:600px;
    margin-top:20px;
}

.footer-about-michael-container {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.michael-image {
    height:250px;
    width:250px;
    background-image: url('../about/screenshots/michael.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
}

.footer-about-michael {
    color:white;
    font-weight:bold;
    font-size: 1.2em;
    margin-top:10px;
    margin-bottom:0;
}

.footer-about-michael-title {
    color:white;
    margin:0;
}

.about-michael-text {
    text-align: center;
}

.our-mission-container {
    width:400px;
    height:170px;
    border:3px solid white;
    padding:5px;
    align-self:center;
}

.our-mission-title {
    color:white;
    opacity:1;
    font-weight:bold;
}

.our-mission-text {
    color:white;
    opacity:0.8;
}

p {
    margin:0;
    height:auto;
    width:auto;
}

.footer-icons-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    width:260px;
    height:100vh;
}

.footer-icons-inner-container {
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:500px;
    width:100px;
    justify-self:flex-end;
}

.fab {
    font-size:2.5em;
    color:white;
    opacity:0.5;
}

.fab:hover {
    opacity:0.8;
    cursor:pointer;
}

.subscription-container {
    width:500px;
    height:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color:white;
    letter-spacing:1px;
    /* height:200px; */
}

.subscription-title {
    width:400px;
    text-align:center;
    margin:15px;
}

.subscription-inner-container {
    width:400px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family:Poppins;
}

.subscription-input {
    width:280px;
    height:40px;
    border-radius:15px;
    text-align:center;
    background-color:transparent;
    color:white;
    border:1px solid white;
}

.subscription-input::placeholder {
    color:white;
    font-weight:bold;
    text-transform:capitalize;
}

.subscription-button {
    width:100px;
    height:40px;
    border-radius:15px;
    background-color:transparent;
    color:white;
    text-transform:uppercase;
    font-size:.7em;
    border:1px solid white;
    font-weight:bold;
}

.footer-copyright-container {
    height:20px;
    margin-top:20px;
}

/* .footer-bottom {
    display:flex;
    justify-content:center;
    padding-top:160px;
} */

/* .bottom-piece {
    margin-top:100px;
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
} */

.footer-copyright {
    font-size:1px;
    color:white;
    opacity:0.5;
    /* height:50px; */
}

@media only screen and (max-width:1100px) {

    .page-4-grid {
        flex-direction:column;
        justify-content:center;
        align-items:center;
        padding-top:20px;
        /* height:1000px; */
    }

    .footer-columns-container {
        flex-direction:row;
        height:300px;
        width:100%;
        justify-content:space-around;
    }

    .footer-menu-container {
        height:220px;
        margin:0;
    }

    .footer-icons-container {
        flex-direction:row;
        width:100%;
        height:40px;
        position:relative;
        bottom:50px;
    }

    .footer-icons-inner-container {
        flex-direction: row;
        width:350px;
        height:40px;
        justify-content:space-around;
    }

    .footer-info-menu {
        margin-bottom:0;
    }

    .footer-mid-column {
        /* margin-top:20px; */
        width:auto;
        height:600px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        flex-grow:0;
    }

    .footer-mid-inner-container {
        height:400px;
        flex-direction: row;
        align-items:center;
        flex-wrap: wrap;
        width:80%;
        margin-top:30px;
        margin-bottom:50px;
        padding-bottom:40px;
    }

    .footer-copyright-container {
        margin:0;
        /* margin-top:50px; */
        position:relative;
        top:30px;
    }

    .michael-image {
        height:170px;
        width:170px;
    }
}

@media only screen and (max-width:780px) {

    .page-4-wrap {
        height:100vh;
    }

    .page-4-grid {
        flex-direction:column;
        justify-content:space-between;
        height:100vh;
        margin:0;
    }

    .subscription-container {
        height:80px;
    }

    .subscription-inner-container {
        margin-top:15px;
    }

    .footer-columns-container {
        height:200px;
        flex-wrap:wrap;
    }

    .footer-mid-column {
        width:100%;
        height:480px;
        margin-bottom:60px;
    }

    .subscription-title {
        width:400px;
        text-align:center;
        margin:0;
    }

    .footer-mid-inner-container {
        height:457px;
        flex-direction: column;
        align-items:center;
        /* justify-content:space-around; */
        width:100%;
        flex-wrap: nowrap;
        margin:0;
        padding:0;
    }

    .footer-about-michael {

    }

    .footer-about-michael-container {
        flex-direction:row;
        justify-content:space-around;
        width:360px;
    }

    .footer-icons-container {
        flex-direction:row;
        width:100%;
        height:40px;
        position:relative;
        bottom:50px;
    }

    .footer-menu-container {
        width:180px;
        height:200px;
    }
    
    .footer-title {
        height:24px;
    }
    
    .footer-item {
        margin:0;
        height:24px;
        color:white;
        opacity:0.8;
        text-decoration:none;
        padding-left:15px;
        transition:transform ease-in-out 1s;
    }

    .footer-copyright-container {
        margin:0;
        /* margin-top:50px; */
        position:relative;
        top:90px;
    }
    
}

@media only screen and (max-width:540px) {

    .page-4-wrap {
        height:900px;
    }

    .page-4-grid {
        flex-direction:column;
        justify-content:evenly;
        height:900px;
        margin:0;
    }

    .footer-columns-container {
        /* flex-direction:column; */
        height:300px;
        width:100%;
        justify-content:space-around;
    }

    .footer-right-menu {
        width:150px;
    }

    .footer-copyright-container {
        margin:0;
        /* margin-top:50px; */
        position:relative;
        top:100px;
    }
}