@import url('https://fonts.googleapis.com/css?family=Poppins');

::-webkit-scrollbar { 
    display: none; 
}

.about-wrap {
    width: 100%;
    height:auto;
    position:absolute;
    top:0;
    z-index:0;
}

.pages {
    height:100%;
}

.page-1-about {
    width:100%;
    height:100vh;
    background: #ff00cc;
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
    display:flex;
    justify-content:center;
    align-items:center;
}

.fp-tableCell {
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.flash-stacks-title-container {
    margin-top:20px;
    height:200px;
    width: 600px;
    display:flex;
    margin:0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-duration:1.5s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.flash-stacks-title {
    font-family: Poppins;
    font-size:5.4em;
    color:white;
    /* margin:20px; */
    margin:2px;
    height:100px;
    font-weight:300;
}

.flash-stacks-quote {
    color:white;
    font-weight:400;
    font-size:1.1em;
    margin-top:10px;
    letter-spacing:1px;
}

.page-2-wrap {
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center; 
}

.page-2-why-container {
    width:800px;
    height:250px;
    margin:0;
    text-align:center;
    font-family:Poppins;
    align-self:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.why-flash-stacks-title {
    font-weight:500;
    font-size:3em;
    margin:0;
}

.line-page-2 {
    width:230px;
    margin:0;
    margin-bottom:15px;
    border: 1.4px solid #A20EBF;
    color:white;
    background-color:#A20EBF;
    border-radius:3px;
}

.why-flash-stacks-answer {
    font-weight:500;
}

.page-3-wrap {
    height:100vh;
    width:100%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.page-3-grid-container {
    height:600px;
    width:800px;
    display:grid;
    grid-template-columns:repeat(12, 1fr); 
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap:7px;
    grid-column-gap:7px;
    padding:auto;
    grid-template-areas:
    " a a a a b b b c c c c c "
    " a a a a b b b c c c c c "
    " a a a a b b b c c c c c "
    " a a a a b b b c c c c c "
    " d d d d b b b c c c c c "
    " d d d d e e e e f f f f "
    " d d d d e e e e f f f f "
    " d d d d e e e e f f f f "
    " d d d d g g g g g h h h "
    " i i i i g g g g g h h h "
    " i i i i g g g g g h h h "
    " i i i i g g g g g h h h "
}

.grid-boxes {
   z-index:10;
   opacity:1;
   transition:.5s ease;
   backface-visibility:hidden;
   display:flex;
   justify-content:center;
   align-items:center; 
}

.middle-text {
    transition: .5s ease;
    opacity: 0;
    font-family:Poppins;
    font-size:1.2em;
}

.about-flashstacks-text {
    align-self:center;
    text-align:center;
    position:absolute;
}

.grid-boxes:hover .middle-text {
    transition: .2s ease-in-out;
    opacity: 1;
    align-self:center;
    color:white;
}

.grid-boxes:hover .about-flashstacks-text {
    opacity:0;
    color: white;
}

.grid-boxes:hover {
    cursor:pointer;
    background: #A20EBF;
    color: #fff;
    transition:transform ease 1s;
}

.page-3-grid-1 {
    grid-area: a;
    background-image: url("https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd374eb46488122e1887224f8734c97e&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-2 {
    grid-area: b;
    background-image: url("https://images.unsplash.com/photo-1501772529219-ed0014f5032c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dab1f9068d2b059a79cfdc65b2731dd&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-3 {
    grid-area: c;
    background-image: url("https://images.unsplash.com/photo-1509664158680-07c5032b51e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=442ccbf5c1e7e58e0b9f1ed3e494fee8&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-4 {
    grid-area: d;
    background-image: url("https://images.unsplash.com/photo-1534774592507-488885376ad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f04cb891ad2a6483753e937b01e6cf1&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-5 {
    grid-area: e;
    background-image: url("https://images.unsplash.com/photo-1509228468518-180dd4864904?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=69d6355c8b8bc2acac6f158fa334ebab&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-6 {
    grid-area: f;
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    justify-content:center;
    align-items:center;
}

.about-flashstacks-text {
    color:white;
    font-family: Poppins;
    font-size:2em;
    z-index:-1;
}

.page-3-grid-7 {
    grid-area: g;
    background-image: url("https://images.unsplash.com/photo-1498230870289-7561110a6e69?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d966c8669492502408e355ef9584bab&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-8 {
    grid-area: h;
    background-image: url("https://images.unsplash.com/photo-1480239435007-433849a15a9a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9a578815f5ec3e48b3b48f045c2a4406&auto=format&fit=crop&w=800&q=60");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-3-grid-9 {
    grid-area: i;
    background-image: url("https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3a2416088253831803a2e9fdc1b71462&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width:850px) {
    .page-3-grid-container {
        height:450px;
        width:600px;
        grid-row-gap:5px;
        grid-column-gap:5px;
    }
}

@media only screen and (max-width:800px) {
    .flash-stacks-title {
        font-size:3.5em;
        margin:0;
        height:50px;
        letter-spacing:1.5px;
        margin-bottom:10px;
    }

    .flash-stacks-quote {
        font-size:.9em;
    }

    .page-2-why-container {
        width:650px;
        height:200px;
    }

    .why-flash-stacks-title {
        font-size:2.5em;
    }

    .line-page-2 {
        width:150px;
        margin:0;
        margin-bottom:8px;
        border: .8px solid #A20EBF;
        color:white;
        background-color:#A20EBF;
        border-radius:2.5px;
    }

    .why-flash-stacks-answer {
        font-size:1em;
    }

    .about-flashstacks-text {
        font-size:1.3em;
    }


} 

@media only screen and (max-width:600px) {

    .why-flash-stacks-title {
        font-size:2em;
    }

    .page-2-why-container {
        width:400px;
        height:400px;
        padding:10px;
    }

    .line-page-2 {
        width:100px;
        margin-bottom:5px;
        border: 1px solid #A20EBF;
        color:white;
        background-color:#A20EBF;
        border-radius:2.5px;
    }

    .page-3-grid-container {
        /* height:300px;
        width:390px;
        grid-row-gap:3px;
        grid-column-gap:3px; */
        display:flex;
        flex-direction:column;
    }

    .middle-text {
        font-size:.8em;
    }

    .about-flashstacks-text {
        font-size:1em;
    }

    .grid-boxes {
        height:200px;
     }

     .middle-text {
         font-size:1.4em;
     }

}